<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID</key>
	<string>6138a596d61380e9d309df2b51e096898fe0952f35047f93fbe4106cee2bb54a</string>
	<key>Server</key>
	<string>https://jthoward-parse-server-7eff80a58baf.herokuapp.com/parse</string>
	<key>LiveQueryServer</key>
	<string></string>
	<key>UseTransactions</key>
	<true/>
	<key>DeleteKeychainIfNeeded</key>
	<true/>
</dict>
</plist>
